:root {
    --primary: #574F7D;
    --secondary: #95ADBE;
    --accent: #DFF0EA;
    --light: #FFFFFF;
    --dark: #000000;
}

body {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--primary);
    color: var(--light);
    line-height: 1.5;
}

header {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--secondary);
    color: var(--dark);
    line-height: 1.5;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: var(--secondary);
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--dark);
    padding: 15px 10px;
    display: block;
}

.nav-links a:hover {
    background-color: var(--accent);
    border-radius: 5px;
}