body {
  background-color: #F8F8FF; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
h1, h2, h3, h4 {
  color: #FF0000; 
}

h1 {
    font-size: 52px;
    padding: 15px;
    margin: 15px;
    text-align: center;
}

h2 {
    font-size: 48px;
    padding: 15px;
    margin: 15px;
    text-align: center;
}

h3 {
    font-size: 36px;
    padding: 15px;
    margin: 20px;
}

h4 {
    font-size: 24px;
    padding: 15px;
    margin: 20px
}

p {
  color: #000; 
  font-size: 18px;
  margin: 60px;
}

.menu-box {
  background-color: #FF0000;   
  padding: 10px 0;
}

.menu-box ul {
  list-style-type: none;       
  margin: 0;
  padding: 0;
  display: flex;               
  justify-content: center;     
}

.menu-box li {
  margin: 0 15px;              
}

.menu-box a {
  text-decoration: none;
  color: #ffffff;              
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s;
  text-transform: uppercase;
}

.menu-box a:hover {
  background-color: #F8F8FF ;
  color: #000;
  letter-spacing: 0.1em;
  transition: 0.2s;
}

.back-button {
    border: solid whitesmoke;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 18px;
    font-size: 16px;
    text-decoration: none;
    color: whitesmoke;
    background-color: #333;
    border-radius: 6px;
    transition: 0.3s ease;
    z-index: 1000;
}